#patient-container {
  margin-top: 0px;
  min-height: 650px;
  /*max-width: 500px;*/
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#navvertical  {
  margin-top: 0px;
  min-height: 950px;
  min-width: 330px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #c4e3f3;
  padding-top: 5px;
  padding-left: 45px;
  padding-right: 5px;
  padding-bottom: 5px;
}
#patientpic-container {
  margin-top: 0px;
  min-height: 250px;
  min-width: 330px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#patientinfo-container {
  margin-top: 0px;
  min-height: 350px;
  min-width: 330px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#medication-container {
  margin-top: 0px;
  min-height: 350px;
  min-width: 330px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#graph-container {
  margin-top: 0px;
  min-height: 350px;
  min-width: 900px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#metrictable-container {
  margin-top: 0px;
  min-height: 450px;
  min-width: 900px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#notes-container {
  margin-top: 0px;
  min-height: 150px;
  min-width: 900px;
  border-style: solid;
  border-color: #F0F0F0;
  box-shadow: 9px 9px 20px #787878;
  border-width: 3px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
}


