<div id="alerts"class="row">
	<div class="col-sm-3 col-sm-offset-1">
		<p>ID: <%=alert.id%> Image Here</p>
		<p>READING ID: <%=alert.reading_id%></p>
	</div>
	<div class="col-sm-6">
		<p>TEXT: <%=alert.text%></p>
		<p>RESOLVED?: <%=alert.resolved%></p>
	</div>
	<div class="col-sm-3">
	</div>
</div>