<%= javascript_tag do %>	
	var data = <%= values%>;	
	var systolicThreshold = <%= threshold[0] %>;		
	var diastolicThreshold = <%= threshold[1] %>;
	data.sort();
<% end %>

<div id="blood_pressure_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
  $(populate_blood_oxygen_container());
</script>
<% javascript_include_tag "blood_pressure"%>
