<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- Because there is no other way to convert Datetime from Rails to JS, we package it here -->
<%= javascript_tag do %>	
	var data = <%= values%>;	
	var threshold = <%= threshold %>;	
	data.sort();
<% end %>

<div id="blood_oxygen_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<% javascript_include_tag "blood_oxygen"%>
