<!-- @threshold, @data, @timestamps-->
<p>Partial!</p>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<%= javascript_tag do %>
	console.log("javascript tag")
	var data = '<%= j data %>';
	var threshold = '<%= j threshold %>';
<% end %>
<div id="blood_oxygen_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script src="assets/javascripts/blood_oxygen.js" />