<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- Because there is no other way to convert Datetime from Rails to JS, we package it here -->
<%= javascript_tag do %>	
	var data = <%= values%>;	
	var systolicThreshold = <%= threshold[0] %>;		
	var diastolicThreshold = <%= threshold[1] %>;
<% end %>

<div id="blood_pressure_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<% javascript_include_tag "blood_pressure"%>