<%= javascript_tag do %>
	var data = <%= values %>;
	var threshold = <%= threshold %>;
  data.sort();
<% end %>

<div id="exercise_log_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
  $(populate_exercise_log_container());
</script>
<% javascript_include_tag "exercise_log"%>
