<%= javascript_tag do %>
  var data = <%= values%>;
  var threshold = <%= threshold %>;    
  data.sort();
<% end %>

<div id="heart_rate_container"></div>
<script>
  $(populate_heart_rate_container());
</script>
<% javascript_include_tag "heart_rate"%>