<div class="col-sm-2 col-sm-offset-1">
	<div id="metric-nav">
		<ul>		
			<li class="text-center btn-default border-r btn-spacing"><%= button_to "Exercise Log", patient_exercise_log_path, :remote => true, class:"btn btn-default w75", method: "get" %>
			</li>		
			<li class="text-center btn-default border-r btn-spacing"><%= button_to "Sleep Log", patient_sleep_log_path, :remote => true, class:"btn btn-default w75", method: "get" %>
			</li>    
		</ul>
	</div>	
</div>
<div id="metric-nav" class="col-md-8">	
	<div id="graph">
		
	</div>
</div>
