<h1>Roster</h1>	

	<% @patients.in_groups_of(4) do |group| %>	
		<div class="row">
			<% group.each do |patient| %>	
				<% if patient != nil %>
					<div class="col-md-3">
						<%= render :partial => 'patient/patient', :locals => {:patient => patient} %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
