<div id="patient_pane" class="col-md-2">Pane</div>
<div class="col-md-10">
	<div class="col-md-5">
		<div id="weight_graph">Weight</div>
		<div id="hr_graph">Heart Rate</div>
		<div id="bo_graph">Blood Oxygen</div>
		<div id="bp_graph">Blood Pressure</div>
	</div>
	<div class="col-md-5">
		<div id="activity_graph">Activity</div>
		<div id="medication_graph">Medication</div>
		<div id="sodium_graph">Sodium</div>
	</div>
</div>
<script></script>